/* Elements */

body {
  margin: auto;
  margin-top: 1em;
  width: 70%;
  background-color: rgb(224, 160, 244);
  background-image: url('..\assets\Space BG.png');
  background-position: 0vw 0vw, 100vw 50vw;
  background-size: 100vw 100vw, 200vw 100vw;
  background-repeat: no-repeat, repeat;
}


h1 {text-align: center;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}

p {text-indent: 2em; font-size: 1.5em}

form {font-size: 1.5em;}

/* Load Animation */

@keyframes load {
  from {
    background-image: none;
    opacity: 0;
    background-color: rgb(224, 160, 244);
  }
  to {
    background-image: url('..\assets\Space BG.png');
    opacity: 1;
    background-color: rgb(224, 160, 244);
  }
}

@keyframes unload {
  from {
    background-image: url('..\assets\Space BG.png');
    opacity: 1;
    background-color: rgb(224, 160, 244);
  }
  to {
    background-image: none;
    opacity: 0;
    background-color: rgb(224, 160, 244);
  }
}

/* Navigation */

.navigation {
  text-align: center;
}

.nav, .navArrow {
  background-color: rgb(128, 208, 128);
  color: rgb(0, 0, 0);
  padding: 0.25em;
  margin: 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 0.25em;
}

a.nav:hover, a.nav:active, a.navArrow:hover, a.navArrow:active {
  background-color: rgb(128, 192, 128);
}

.navArrow {
  font-family: Consolas;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

div.navArrow {
  background-color: rgb(160, 192, 160);
  color: rgb(128, 128, 128);
  cursor: not-allowed;
}

/* Other */

.statHead {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgba(192, 192, 192, .75);
  padding: 8px;
}

.ODBox {
  position: relative;
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgb(64, 0, 64);
}

.ODBSign {
  position: absolute;
  height: 400px;
  line-height: 400px;
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;
}

.pass {
  text-align: center;
  margin: 1em;
  font-family: Consolas;
}
